* {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;

}

.container {
	margin: 0 auto;
	text-align: center;
}
h1 {
	margin: 70px 0 10px;
	padding: 0;
	color: #09958d;
	font-size: 4.125em;
	line-height: 1.2;
	font-weight: bold;
}

h2 {
	margin: 10px 0 40px;
	padding:0;
	color: #09958d;
	font-size: 2.5em;
}

#start, #restart {
	padding: 15px 25px;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 2.5em;
	background-color: #fc2c54;
	color: #89192e;
	border-radius: 10px;
	border: solid 1px #fc2c54;
}

#start:hover, #restart:hover {
	background-color: #89192e;
	color: #fc2c54;
	border: solid 1px #89192e;
}

#restart {
	display: none;
	margin: 0 auto 30px;
}

#grid {
	display: none;
	margin: 0 auto;
	width: 450px;
	height: 450px;
	border: solid 2px #076762;
	padding:0;
}

#grid div {
	box-sizing: border-box;
	border: solid 2px #076762;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
}

#grid div p {
	font-family: 'Sriracha', cursive;
	margin: 0;
	padding:0;
	font-size: 4.5em;
	line-height: 2;
	font-weight: bold;
}

.result p {
	padding: 0;
	margin-top: 15px;
	font-size: 2.5em;
	line-height: 1.5;
	font-weight: bold;
}
